# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
    -   id: black
-   repo: https://github.com/python-poetry/poetry
    rev: '2.2.1'
    hooks:
      - id: poetry-check
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.14.10'
  hooks:
    - id: ruff
      args: [--fix]
