version: '3'

tasks:
  block:
    desc: Run rubrical with block configuration.
    dir: tests/files
    cmds:
      - uv run rubrical grade --config rubrical.yaml

  warn:
    desc: Run rubrical with warn configuration.
    dir: tests/files
    cmds:
      - uv run rubrical grade --config rubrical-warnings.yaml

  clean:
    desc: Run rubrical with clean configuration.
    dir: tests/files
    cmds:
      - uv run rubrical grade --config rubrical-clean.yaml

  mixed:
    desc: Run rubrical with mixed configuration.  (Used for docs)
    dir: tests/files
    cmds:
      - uv run rubrical grade --config rubrical-mixed.yaml
