version: '3'

tasks:
  install:
    desc: Install dependencies.
    cmds:
      - uv sync --extra dev

  fmt:
    desc: Run linting and fix issues.
    cmds:
      - uv run ruff format rubrical tests
      - uv run ruff check rubrical tests --fix

  lint:
    desc: Run linting tasks.
    cmds:
      - uv run ruff check rubrical tests
      - uv run mypy rubrical

  test:
    desc: Run unit and integration tests
    cmds:
      - uv run pytest tests/unit tests/integration

  test-cov:
    desc: Run unit and integration tests with coverage
    cmds:
      - uv run pytest --cov rubrical --cov-report term --cov-report html:test_results/cov_html --cov-report xml:test_results/cov.xml tests/unit tests/integration

  build:
    desc: Build artifact
    cmds:
      - uv build

  publish:
    desc: Publish package to pypi
    cmds:
      - task: build
      - uv publish --username $PYPI_USERNAME --password $PYPI_PASSWORD
