name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
          cache: 'pip'
          cache-dependency-path: 'uv.lock'
      - name: Install Task
        uses: arduino/setup-task@v1
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install packages
        run: |
          task python:install
      - name: Linting
        run: |
          task python:lint
      - name: Unit tests
        run: |
          task python:test-cov
        env:
          RUBRICAL_TEST_GITHUB_ACCESS_TOKEN: ${{ secrets.RUBRICAL_TEST_GITHUB_ACCESS_TOKEN }}
      - name: Doc tests
        run: task docs:test
      - uses: codecov/codecov-action@v5
        with:
          files: test_results/cov.xml
